@tailwind base;
@tailwind components;
@tailwind utilities;

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.logo {
  font-size: xx-large;
  font-style: oblique;
  font-weight: 600;
}

.active {
  color: blue;
}

li {
  font-size: 16px;
  font-weight: 600;

}

.banner {
  background-image: url('https://i.ibb.co/TvJw5Sp/png-transparent-404-universe-404-digital-universe-thumbnail-removebg-preview.png');
  background-size: cover;
  height: 100vh;
  width: 75%;
  margin: auto;
}